## Checkpoint 2 - Data in Hand

### 1.) Steam Hardware Survey <br>
- Downloaded as CSV file
### 2.) VGCharts (sales of various game consoles) <br>
- Downloaded as CSV files
### 3.) US Census Bureau <br>
- API endpoint
### 4.) FCC Broadband Map <br>
- Downloaded as CSV files
### 5.) Pew Research Center â€“ Device Ownership Surveys <br>
- Downloaded as CSV files

#### *Used ChatGPT to recommend relevant data sets

### Steam Hardware survey

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/jdegene/steamHWsurvey/master/shs.csv"
steam_df = pd.read_csv(url)
steam_df.head()

         date        category                 name  change  percentage
0  2008-11-01  AMD CPU Speeds  1.4 Ghz to 1.49 Ghz -0.0004      0.0036
1  2008-11-01  AMD CPU Speeds  1.5 Ghz to 1.69 Ghz -0.0025      0.0224
2  2008-11-01  AMD CPU Speeds  1.7 Ghz to 1.99 Ghz -0.0024      0.0714
3  2008-11-01  AMD CPU Speeds  2.0 Ghz to 2.29 Ghz -0.0040      0.1343
4  2008-11-01  AMD CPU Speeds  2.3 Ghz to 2.69 Ghz  0.0001      0.0727

### VGChartz

In [3]:
import pandas as pd

vg_df = pd.read_csv("vgchartz-11_23_2025.csv")
vg_df.head()
vg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   img            400 non-null    object
 1   title          400 non-null    object
 2   console        400 non-null    object
 3   genre          400 non-null    object
 4   publisher      400 non-null    object
 5   developer      400 non-null    object
 6   vg_score       70 non-null     float64
 7   critic_score   191 non-null    float64
 8   user_score     26 non-null     float64
 9   total_shipped  182 non-null    float64
 10  total_sales    218 non-null    float64
 11  na_sales       217 non-null    float64
 12  jp_sales       129 non-null    float64
 13  pal_sales      217 non-null    float64
 14  other_sales    218 non-null    float64
 15  release_date   397 non-null    object
 16  last_update    161 non-null    object
dtypes: float64(9), object(8)
memory usage: 53.3+ KB

### Census

In [5]:
import pandas as pd
import requests

# Variables to get: total population (B01003_001E)
variables = "B01003_001E"
year = 2023  # most recent available
url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,{variables}&for=state:*"

response = requests.get(url)
data = response.json()

# Convert to DataFrame
df_census = pd.DataFrame(data[1:], columns=data[0])
df_census.rename(columns={"NAME":"state_name","B01003_001E":"population"}, inplace=True)
df_census["population"] = df_census["population"].astype(int)
df_census.head()

   state_name  population state
0     Alabama     5108468    01
1      Alaska      733406    02
2     Arizona     7431344    04
3    Arkansas     3067732    05
4  California    38965193    06

In [7]:
import pandas as pd

state_region = {
    "CT":"Northeast","ME":"Northeast","MA":"Northeast","NH":"Northeast","RI":"Northeast","VT":"Northeast","NJ":"Northeast","NY":"Northeast","PA":"Northeast",
    "IN":"Midwest","IL":"Midwest","MI":"Midwest","OH":"Midwest","WI":"Midwest","IA":"Midwest","KS":"Midwest","MN":"Midwest","MO":"Midwest","NE":"Midwest","ND":"Midwest","SD":"Midwest",
    "DE":"South","FL":"South","GA":"South","MD":"South","NC":"South","SC":"South","VA":"South","DC":"South","WV":"South","AL":"South","KY":"South","MS":"South","TN":"South","AR":"South","LA":"South","OK":"South","TX":"South",
    "AZ":"West","CO":"West","ID":"West","MT":"West","NV":"West","NM":"West","UT":"West","WY":"West","AK":"West","CA":"West","HI":"West","OR":"West","WA":"West"
}

df_region = pd.DataFrame(list(state_region.items()), columns=["state","region"])
df_region.head()

  state     region
0    CT  Northeast
1    ME  Northeast
2    MA  Northeast
3    NH  Northeast
4    RI  Northeast

In [8]:
# Add state abbreviation if needed
state_abbrev = {
    "Alabama":"AL","Alaska":"AK","Arizona":"AZ","Arkansas":"AR","California":"CA","Colorado":"CO",
    "Connecticut":"CT","Delaware":"DE","District of Columbia":"DC","Florida":"FL","Georgia":"GA",
    "Hawaii":"HI","Idaho":"ID","Illinois":"IL","Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY",
    "Louisiana":"LA","Maine":"ME","Maryland":"MD","Massachusetts":"MA","Michigan":"MI","Minnesota":"MN",
    "Mississippi":"MS","Missouri":"MO","Montana":"MT","Nebraska":"NE","Nevada":"NV","New Hampshire":"NH",
    "New Jersey":"NJ","New Mexico":"NM","New York":"NY","North Carolina":"NC","North Dakota":"ND","Ohio":"OH",
    "Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA","Rhode Island":"RI","South Carolina":"SC","South Dakota":"SD",
    "Tennessee":"TN","Texas":"TX","Utah":"UT","Vermont":"VT","Virginia":"VA","Washington":"WA",
    "West Virginia":"WV","Wisconsin":"WI","Wyoming":"WY"
}

df_census["state"] = df_census["state_name"].map(state_abbrev)
df_census = df_census.merge(df_region, on="state", how="left")
df_census.head()

   state_name  population state region
0     Alabama     5108468    AL  South
1      Alaska      733406    AK   West
2     Arizona     7431344    AZ   West
3    Arkansas     3067732    AR  South
4  California    38965193    CA   West